body{
    background-color: #e3f2fd; /* El azul mas claro*/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
/* Navbar */
.nav1{
    background-color: #2196f3; /*     Blue de MaterializeCSS*/
}
.nav2{
    background-color: #1976d2;
}
.side-nav{
    background-color: #90caf9; /* blue lighten-3 */
}
.brand-logo{
    margin-left: 0.5em;
}
.input-field input[type=search] {
    display: block;
    line-height: inherit;
    padding-left: 4rem;
    width: calc(100% - 4rem);
}
.input-field input[type=search] ~ .mdi-navigation-close {
    position: absolute;
    top: 0;
    right: 1rem;
    color: transparent;
    cursor: pointer;
    font-size: 2rem;
    transition: .3s color;
}
.etapas{
    margin-left: 2.5em;
}
#menuUsuario{
    min-width: 13em;
}
.imgLogoDerecha{
    margin-left: 2em;
}
.nota{
    background-color: #ffebee;
    height: 3em;
    border-bottom-style: solid;
    border-bottom-color: #e57373 ;
    border-top-style: solid;
    border-top-color: #e57373;

}
.citaQuienSomos{
    width: 16em;
    margin: 0 auto;
}
.citaQuienSomos2{
    width: 27em;
    margin: 0 auto;
}
/* Footer */

.social_img{
    margin-top: 0.6em;
}


/* Forms */

// Formulario de contacto.
/* label color */
.formContacto .input-field label{
    color: #000;
}
.formContacto .input-field label{
    color: #000;
}
// Formularios en general.
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #1565c0;
    box-shadow: 0 1px 0 0 #1565c0;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #d32f2f;
    box-shadow: 0 1px 0 0 #d32f2f;
}
/* valid color */
.input-field input[type=email].valid {
    border-bottom: 1px solid #1565c0;
    box-shadow: 0 1px 0 0 #1565c0;
}
/* invalid color */
.input-field input[type=email].invalid {
    border-bottom: 1px solid #d32f2f;
    box-shadow: 0 1px 0 0 #d32f2f;
}
/* valid color */
.input-field input[type=password].valid {
    border-bottom: 1px solid #1565c0;
    box-shadow: 0 1px 0 0 #1565c0;
}
/* invalid color */
.input-field input[type=password].invalid {
    border-bottom: 1px solid #d32f2f;
    box-shadow: 0 1px 0 0 #d32f2f;
}


/* Contenido */
.card-panel{
    background-color: #bbdefb;
}
.contenido{
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

/* Menu con Sesión iniciada */
.imgSesion{
    margin-top: 0.6em;
    max-height: 45px;
    max-width: 45px;
}
.imgSesionLi{
    max-height: 63px;
}
.sesionOff{
    color: #c62828;
    /*font-size: small;*/
}
.imgSesionMob{
    max-height: 80px;
    max-width: 80px;
}

label.error{
    color: red;
}

#errorEmail, #errorEmailSesion, #errorPass{
    color: red;
    font-size: 10px;
}

///////// FORUM //////////
//Duplicado, por alguna razón, con solo uno no tira.
.divider.dividerForum {
    height: 1px;
    overflow: hidden;
    background-color: black;
}
.divider.dividerForum {
    height: 1px;
    overflow: hidden;
    background-color: black;
}

table.striped > tbody > tr:nth-child(odd) {
    background-color: #e3f2fd; }

.descripcionCategoria{
    font-size: 12px;
    margin-top: 0;
    margin-left: 2em;
}

.moderadores{
    font-size: 12px;
    margin-left: 2em;
    margin-top: -1.2em;
}

.alturaP{
    margin-top: 1.5em;
}

.alturaT{
    margin-top: 1em;
}

.breadcrumbForo{
    background-color: #90caf9;
}

.breadForum{
    color: #1565c0;
}

.breadCategoria{
    color: #0d47a1;
}
.filaCategoriaForo{
    padding: 2em;
}

.cardUsuForo{
    background-color: #82b1ff ;
}
.fechaPost{
    font-size: 11px;
}
.card-reveal.secre{
    background-color: #448aff ;
    border-radius: 5%;
}
.breadPosts{
    margin-bottom: 1.5em;
}
.cardPost{
    margin-top: -0.6em;
}
.tablaTemas{
    margin-top: 1em;
}
.cardTemaNuevo{
    border: 2px solid #0d47a1;
}
ul#menuFormularioHtml li{
    display: inline;
}
#menuFormularioHtml{
    margin-bottom: -0.7em;   
}
.ultiObj{
    margin-right: 2em;
}
#modalTemaNuevo{
    background-color: #0d47a1;
}
.hoverable:hover {
    transition: box-shadow .25s;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1); 
    color: red;
}
#listaRespuestas td{
    padding: 0em;
}


// Paginación tablas.
.paging-nav {
    text-align: right;
    padding: 10px;
}

.paging-nav a {
    margin: auto 1px;
    text-decoration: none;
    display: inline-block;
    padding: 1px 7px;
    background: #91b9e6;
    color: white;
    border-radius: 3px;
}

.paging-nav .selected-page {
    background: #187ed5;
    font-weight: bold;
}

.centrado{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

/* Landscape 480 */
/* esto funcionará si la resolución de pantalla es menor de 480 pixeles de ancho */
@media (max-width: 480px) {

}

/* CSS tamaño muy pequeño */ 
@media (max-width: 768px){ }
/* CSS tamaño pequeño */
@media (min-width: 768px) and (max-width: 992px){ }
/* CSS tamaño mediano */
@media (min-width: 992px) and (max-width: 1200px){
    .general{
        margin-left: -5em;
    }
    .etapas{
        display: none;
    }
    .dropEtapasBt{
        margin-left: 2.5em;
        margin-right: 2.5em;
    }
}
/* CSS tamaño grande */
@media (min-width: 1200px){
    .general{
        margin-left: -7em;
    }

    .dropEtapasBt{
        display: none;
    }
}